$color_1: rgba(203, 103, 9, 0.95);
$color_2: #2f63cc;
$color_3: white;
$color_4: rgb(251, 170, 30);
$color_6: #6a6a6a;
$color_7: #fff;
$color_8: #333;
$color_9: rgba(23, 52, 215, 0.893);
$color_10: #174dd7;
$font-family_1: 'DRagonlord';
$font-family_2: Verdana, Geneva, Tahoma, sans-serif;
$font-family_3: Arial, Helvetica, sans-serif;
$font-family_4: cursive;
$font-family_5: 'Acme', sans-serif;
$background-color_2: blue;
$background-color_3: rgb(35, 96, 219);
$background-color_4: rgba(44, 86, 225, 0.68);

/*slider de index.html*/
@keyframes autoplay {
	33% {
		transform: translate3d(calc(-100% * 0), 0, 0);
	}
	66% {
		transform: translate3d(calc(-100% * 1), 0, 0);
	}
	100% {
		transform: translate3d(calc(-100% * 2), 0, 0);
	}
}
/*animacion de cards de productos.html*/
@keyframes mover {
	100% {
		transform: translateX(0);
	}
	0% {
		transform: translateX(100%);
	}
}

/*index.html*/
.InicioMenu {
	background: url(../assets/imagen.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 20em;
}
.ArribaInicio {
	color: $color_1;
	font-size: 90px;
	text-align: center;
	font-family: $font-family_1;
	display: flex;
	flex-direction: column;
}
.subtitulo {
	color: $color_2;
	font-family: $font-family_2;
	font-size: 30px;
	text-align: center;
	display: flex;
	flex-direction: column;
}
.MedioInicio {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px;
}
img {
	max-width: 100%;
}
.container-all {
	position: relative;
	max-width: 1000px;
	width: 100%;
	border-radius: 6px;
	overflow: hidden;
}
.slide {
	display: flex;
	transform: translate3d(0, 0, 0);
	transition: all 600ms;
	animation-name: autoplay;
	animation-duration: 6.5s;
	animation-direction: alternate;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
}
.item-slide {
	position: relative;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	flex-grow: 0;
	max-width: 100%;
}
.navlabel {
	display: none;
}
.nav_input {
	display: none;
}
.FooterIconos {
	text-align: center;
	margin-top: 100px;
}

/*productos.html*/
.ProductoMenu {
	background: url(../assets/fond_2.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 20em;
}
nav {
	max-width: 900px;
	margin: auto;
	background-color: $background-color_1;
	font-size: 20px;
	margin-top: 0;
}
.menu-horizontal {
	list-style: none;
	display: flex;
	justify-content: space-around;
	margin-top: 0px;
	>li {
		>a {
			display: block;
			padding: 15px 20px;
			color: $color_3;
			text-decoration: none;
		}
		&:hover {
			background-color: $background-color_2;
		}
	}
}
.ArribaProductos {
	color: $color_4;
	font-size: 15px;
	font-family: $font-family_2;
	text-align: center;
	display: flex;
	flex-direction: column;
}
.CentroProductos {
	color: $color_5;
	font-size: 23px;
}
.container {
	width: 100%;
	display: flex;
	flex-direction: row;
	animation-name: mover;
	animation-duration: 3s;
}
.card {
	width: 90%;
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	cursor: default;
	transition: all 400ms ease;
	&:hover {
		box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
		transform: translateY(-3%);
	}
	img {
		width: 100%;
		height: 210px;
	}
	.contenido {
		padding: 15px;
		text-align: center;
		p {
			line-height: 1.5;
			color: $color_6;
			font-size: 20px;
		}
		h4 {
			font-weight: 400;
			margin-bottom: 15px;
			font-size: 25px;
		}
		button {
			display: block;
			display: inline-block;
			font-family: $font-family_3;
			font-weight: 700;
			background-color: $background-color_3;
			border-radius: 10px;
			padding: 10px 15px;
			color: $color_7;
			&:hover {
				background: #2fb4cc;
				color: $color_7;
			}
		}
	}
}

/*juegos.html*/
.JuegosMenu {
	background: url(../assets/fond.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 20em;
}
.subtitulo2 {
	color: $color_8;
	font-family: $font-family_2;
	font-size: 30px;
	text-align: center;
	display: flex;
	flex-direction: column;
}

/*nosotros.html*/
.NosotrosMenu {
	background: url(../assets/fond_3.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 20em;
}
.Cuadro {
	color: $color_5;
	background-color: $background-color_4;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-flow: wrap;
	font-weight: bold;
	font-family: $font-family_4;
	font-size: 21px;
	border: 10px solid rgba(32, 190, 218, 0.776);
	padding: 10px;
	box-sizing: border-box;
}
.divtexto {
	color: $color_9;
	font-size: 50px;
	font-family: $font-family_5;
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-flow: wrap;
}
.divvideo {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-flow: wrap;
}

/*contactos.html*/
.ContactosMenu {
	background: url(../assets/fond_1.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 20em;
}
.CentroContactos {
	color: $color_10;
	font-size: 27px;
	font-family: $font-family_5;
	text-align: center;
	display: flex;
	flex-direction: column;
}

/*responsive menu de hamburguesa*/
@media (max-width: 858px) {
	.navlabel {
		position: fixed;
		display: block;
		cursor: pointer;
		left: 0;
	}
	.menu-horizontal {
		position: fixed;
		top: 40px;
		bottom: 0;
		background-color: $background-color_1;
		width: 30%;
		height: 95%;
		left: -5%;
		display: flex;
		justify-content: space-evenly;
		flex-direction: column;
		align-items: center;
		clip-path: circle(0 at center);
		z-index: 1;
	}
	.nav_input {
		&:checked {
			+ {
				.menu-horizontal {
					clip-path: circle(100% at center);
				}
			}
		}
	}
}

/*responsive de cards*/
@media screen and (max-width:576px) {
	.container {
		flex-direction: column;
	}
}